
<div id="productsList"> 
    


{{!-- <h1>Libros</h1>

{{#each products}}

<p>{{title}}| ${{price}}| {{stock}}| {{description}}| {{thumbnail}} </p>


{{/each}} --}}




</div>


<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>